In [2]:
# Install this
!pip install pubchempy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pubchempy in c:\users\moses\appdata\roaming\python\python310\site-packages (1.0.4)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\moses\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\moses\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\moses\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\moses\appdata\roaming\python\python310\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# import all the libaries to use
import pubchempy as pcp
import pandas as pd

In [4]:
# Read the CSV file containing compound IDs in this case the other file i sent to you
df = pd.read_csv('./predictions/all_predictions.CSV')

C:\Users\Moses\AppData\Local\Temp\ipykernel_5028\1792395575.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./predictions/all_predictions.CSV')

In [5]:
df.head(10)

  molecule_name        pEC50
0    CNP0000001    5.4122664
1    CNP0000002  6.084739974
2    CNP0000003  5.483882572
3    CNP0000004  5.539242389
4    CNP0000005  6.527153045
5    CNP0000006  5.538999598
6    CNP0000007   6.66115509
7    CNP0000008  5.552351159
8    CNP0000009  5.615629912
9    CNP0000010  5.877515656

# * we ar goint to select the pEC50 values theat range from 4 t o 4.9
## * these will be the only ones we download

In [6]:
# Convert 'pEC50' column to numeric
df['pEC50'] = pd.to_numeric(df['pEC50'], errors='coerce')

# Filter rows where 'pEC50' values are between 4 and 4.9
selected_rows = df[(df['pEC50'] >= 4) & (df['pEC50'] <= 4.9)]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340364 entries, 0 to 340363
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   molecule_name  340364 non-null  object
 1   pEC50          328159 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.2+ MB

In [8]:
selected_rows.head(10)

      molecule_name     pEC50
90       CNP0000098  4.853605
91       CNP0000099  4.883674
583      CNP0008985  4.867765
801      CNP0024667  4.855472
912      CNP0029690  4.855417
4179     CNP0009065  4.689823
4389     CNP0028394  4.883674
5108     CNP0009411  4.831077
5171     CNP0031876  4.830831
10942    CNP0018533  4.808430

In [9]:
df2 = selected_rows

In [10]:
df2.head(10)

      molecule_name     pEC50
90       CNP0000098  4.853605
91       CNP0000099  4.883674
583      CNP0008985  4.867765
801      CNP0024667  4.855472
912      CNP0029690  4.855417
4179     CNP0009065  4.689823
4389     CNP0028394  4.883674
5108     CNP0009411  4.831077
5171     CNP0031876  4.830831
10942    CNP0018533  4.808430

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2450 entries, 90 to 340196
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   molecule_name  2450 non-null   object
 1   pEC50          2450 non-null   float64
dtypes: float64(1), object(1)
memory usage: 57.4+ KB

In [ ]:
df2.save("")

In [15]:
df2.to_csv('selectedpEC50.csv', index=False)